/* img zoom */
.item {
  position: relative;
  border: 1px solid #333;
  margin: 2%;
  overflow: hidden;
  width: 540px;
}
.item img {
  max-width: 100%;
  -moz-transition: all 0.3s;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.item:hover img {
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

/* login page s*/
/* body{
	background: url("/resources/suit/img/loginbackground.gif") ;
	background-size: cover;  
} */

html,body{
    position: relative;
    height: 100%;
}

.login-container{
    position: relative;
    width: 300px;
    margin: 80px auto;
    padding: 20px 40px 40px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}

#output{
    position: absolute;
    width: 300px;
    top: -75px;
    left: 0;
    color: #fff;
}

#output.alert-success{
    background: rgb(25, 204, 25);
}

#output.alert-danger{
    background: rgb(228, 105, 105);
}


.login-container::before,.login-container::after{
    content: "";
    position: absolute;
    width: 100%;height: 100%;
    top: 3.5px;left: 0;
    background: #fff;
    z-index: -1;
    -webkit-transform: rotateZ(4deg);
    -moz-transform: rotateZ(4deg);
    -ms-transform: rotateZ(4deg);
    border: 1px solid #ccc;

}

.login-container::after{
    top: 5px;
    z-index: -2;
    -webkit-transform: rotateZ(-2deg);
     -moz-transform: rotateZ(-2deg);
      -ms-transform: rotateZ(-2deg);

}

.avatar{
    width: 100px;height: 100px;
    margin: 10px auto 30px;
    border-radius: 100%;
    border: 2px solid #aaa;
    background-size: cover;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(20px);
    -ms-transform: translateY(20px);
    transform: translateY(20px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    -ms-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/* login page e */
#map{
	width: 400px;
	height: 400px;
}

.container{
	color: white;
}

figure figcaption p{
	font-weight: bold;
}

div .menu_title{
	color: black;
	font-weight: bold;
	text-align: center;
}

/* 썸네일 이미지 출력할때 사용하는 css */
.suit.thumbnail {
	background-color: gray;
	margin: 10px;
	width: 50px;
	height: 50px;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
}

.suit.thumbnail.circle {
	border-radius: 100%;
	width: 30px;
	height: 30px;
	border-color: black;
	border-style: solid;
	border-width: thin medium;
}

.exec{
    
}

/* 핀터레스트 스타일 레이아웃 */
body {
    padding-top: 150px;
    padding-bottom: 70px;
    
	background-color: black; 
	font-family: Calluna, Arial, sans-serif;
}

#suitcolumns {
	column-width: 320px;
	column-gap: 15px;
	width: 90%;
	max-width: 1100px;
	margin: 50px auto;
}

div#suitcolumns figure {
	background: #fefefe;
	border: 2px solid #fcfcfc;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 0 2px 15px;
	padding: 15px;
	padding-bottom: 10px;
	transition: opacity .4s ease-in-out;
	display: inline-block;
	column-break-inside: avoid;
}

div#suitcolumns figure img {
	width: 100%;
	height: auto;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

div#suitcolumns figure figcaption {
	font-size: .9rem;
	color: #444;
	line-height: 1.5;
}

div#suitcolumns small {
	font-size: 1rem;
	float: right;
	text-transform: uppercase;
	color: #aaa;
}

div#suitcolumns small a {
	color: #666;
	text-decoration: none;
	transition: .4s color;
}

div#suitcolumns:hover figure:not(:hover) {
	opacity: 0.4;
}

@media screen and (max-width: 750px) {
	#suitcolumns {
		column-gap: 0px;
	}
	#suitcolumns figure {
		width: 100%;
	}
}
/* 핀터레스트 스타일 레이아웃 끝 */

/* 로그인 체크 css*/
#signupForm label[for] {
	width: 120px;
	display: inline-block;
}

#signupForm label {
	font-size: 14px;
	padding: 5px 0;
}

#signupForm input {
	border: 1px solid #ccc;
	padding: 2px 5px;
	vertical-align: middle;
}

/** 입력값이 적절하지 않은 입력 요소에 대한 CSS 정의 */
#signupForm input.error, #signupForm textarea.error {
	border: 1px dashed red;
}

/** 에러메시지가 표시되는 동적 요소에 대한 CSS 정의 */
#signupForm label.error {
	color: red;
	width: auto;
	font-size: 12px;
	padding: 0 10px;
}
/* 로그인 체크 css끝 */